html {
    font-family: 'Lato', sans-serif; /*cursive is the font's fallback value*/
}

.all-movies {
    display: inline-block;
}
body {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: start;
    align-content: center;
    background-color: 	#80587b;
    color:#130d34;

}
select, button {
    background-color: #80587b;
    border-color: #130d34;
    border: 1px solid #130d34;
    border-radius: 12px;
    color: #130d34;
}


button:hover {
    color: rgb(197, 179, 202);
}
#all-movies {
    font-size: 15px;
}

#movie-list {
    font-size: 30px;
}

label, #movie-details{
    font-size: 20px;
}

label {
    display: block;
    width: 100%;
}

#movie-details, #movieImage {
    display: inline-block;
}
#movieImage {
    width: 20%;
}
#movie-details {
    width: 80%;
}