.all-movies {
    display: inline-block;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    align-content: center;
    background-color: 	#52384f;
    border-radius: 25px;
}
